.products{
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.products__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.products__list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.products__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
}

.products__image {
    width: 100%;
    border-radius: 4px;
}

.products__name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color:black;
}

.products__price {
    color: #f0a500;
    font-weight: bold;
}